{% extends 'base.html.twig' %}

{% block title %}Infos du joueur{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>A propos</h1>
    <div>
        {% if player is defined %}
            <span>
                <p><strong>Nom: </strong>{{ player.name }}</p>
                <p><strong>Date de naissance: </strong>{{ player.birthDate|date('d/m/Y') }}</p>
                <p><strong>Nationalité: </strong>{{ player.nationality }}</p>
                <p><strong>Nombre de buts: </strong>{{ player.goalsNumber }}</p>
                <p><strong>Jouer au: </strong>{{ player.clubTeam.name }}</p>
                <p><strong>Equipe nationale: </strong>{{ player.nationalTeam.name }}</p>
                <p><strong>Parcours: </strong>{{ player.course }}</p>
            </span>
        {% endif %}
    </div>
</div>
{% endblock %}
