{% extends 'base.html.twig' %}

{% block title %}Infos du joueur{% endblock %}

{% block body %}

<div class="container">
    {% if player %}
        <h1>Information de {{ player.name }}</h1>
    {% endif %}
    <div>
        {% if player is defined %}
            <span>
                <strong>Nom</strong>
            </span>
            <div class="alert alert-info" role="alert">
                {{ player.name }}
            </div>
            <span>
                <strong>Date de naissance</strong>
            </span>
            <div class="alert alert-info" role="alert">
                {{ player.birthDate|date('d/m/Y') }}
            </div>
            <span>
                <strong>Nationalité</strong>
            </span>
            <div class="alert alert-info" role="alert">
                {{ player.nationality }}
            </div>
            <span>
                <strong>Nombre de buts</strong>
            </span>
            <div class="alert alert-info" role="alert">
                {{ player.goalsNumber }}
            </div>
            <span>
                <strong>Club</strong>
            </span>
            <div class="alert alert-info" role="alert">
                {{ player.clubTeam.name }}
            </div>
            <span>
                <strong>Equipe nationale</strong>
            </span>
            <div class="alert alert-info" role="alert">
                {{ player.nationalTeam.name }}
            </div>
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Parcours</h4>
                <p>{{ player.course }}</p>
            </div>

        {% endif %}
    </div>
</div>
{% endblock %}
