{% extends 'base.html.twig' %}

{% block title %}Equipe nationale(club){% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <h1>Liste des équipes nationales</h1>
    <table>
        <thead>
            <tr>
                <td>Nom</td>
            </tr>
        </thead>
        <tbody>
            {% if NationalTeams is defined %}
                {% for national in NationalTeams %}
                    <tr>
                        <td>{{ national.name }}</td>
                        <td>
                            <a href="{{ path('national_team_update', {'id': national.id}) }}">
								<button class=" btn btn-danger" type=" button">Modifier</button>
							</a>
                            <a href="{{ path('national_team_delete', {'id': national.id}) }}" onclick="return confirm('Voulez vous supprimer?');">
								<button class=" btn btn-danger" type=" button">Supprimer</button>
							</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a href="{{ path('national_team_create') }}">Créer un nouveau équipe nationale</a>
</div>
{% endblock %}
