{% extends 'base.html.twig' %}

{% block title %}Equipe nationale(club){% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
    {% endfor %}
    <h1>Liste des équipes nationales</h1>
    <br>
    <a href="{{ path('national_team_create') }}" style="float: right;">
        <button type="button" class="btn btn-success">Ajouter nouveau</button>
    </a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr class="align-text">
                <td>
                    <strong>Nom</strong>
                </td>
                <td>
                    <strong>Action</strong>
                </td>
            </tr>
        </thead>
        <tbody>
            {% if NationalTeams is defined %}
                {% for national in NationalTeams %}
                    <tr class="align-text">
                        <td>{{ national.name }}</td>
                        <td>
                            <a href="{{ path('national_team_update', {'id': national.id}) }}">
								<button type="button" class="btn btn-primary">Modifier</button>
							</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ConfirmModalDeleteNationalTeam_{{ national.id }}">Supprimer</button>
                        </td>
                    </tr>
                    <div class="modal fade" id="ConfirmModalDeleteNationalTeam_{{ national.id }}" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalDeleteNationalTeamLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ConfirmModalDeleteNationalTeamLabel">Etes-vous sur?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                            <div class="modal-body">
                                Cet équipe équipe supprimer
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <a href="{{ path('national_team_delete', {'id': national.id}) }}">
                                    <button type="button" class="btn btn-danger">Supprimer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
