{% extends 'base.html.twig' %}

{% block title %}Equipe (club){% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <h1>Liste des équipes (club)</h1>
    <table>
        <thead>
            <tr>
                <td>Nom</td>
            </tr>
        </thead>
        <tbody>
            {% if clubs is defined %}
                {% for club in clubs %}
                    <tr>
                        <td>{{ club.name }}</td>
                        <td>
                            <a href="{{ path('club_update', {'id': club.id}) }}">
								<button class=" btn btn-danger" type=" button">Modifier</button>
							</a>
                            <a href="{{ path('club_delete', {'id': club.id}) }}" onclick="return confirm('Voulez vous supprimer?');">
								<button class=" btn btn-danger" type=" button">Supprimer</button>
							</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a href="{{ path('club_create') }}">Créer un nouveau équipe (club)</a>
</div>
{% endblock %}
